.detailed_container {
    padding: 48px 64px;
    display: flex;
    flex-direction: column;
}

.wrapper {
    padding-top: 32px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        gap: 32px;
    }
}
